@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Michroma&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap");

/* Mobile Responsive */
.banner img {
  margin-bottom: 10px;
}
.description {
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
  padding: 80px;
}
.video {
  margin-bottom: 100px;
}
.mission_container {
  display: inline-block;
}
.logo-carousel-container {
  overflow: hidden;
  position: relative;
}
.logo-carousel-container h2 {
  padding: 20px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: #deb887;
  font-weight: 900;
}
.logo-carousel {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
  padding: 40px;
}
.logo-carousel img {
  height: 50px;
  margin: 0 15px;
}
@keyframes scroll-left {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-90%);
  }
}

/* Tablet screens */
@media (min-width: 600px) {
  .logo-carousel img {
    height: 40px;
    margin: 0 25px;
  }
}

/* Desktop screens */
@media (min-width: 1024px) {
  .logo-carousel img {
    height: 100px;
    margin: 0 40px;
  }
  .logo-carousel {
    animation: scroll-left 20s linear-infinite;
  }
}
