@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

.header {
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.coffee-shop img {
  margin: 0;
  display: block;
}

.description {
  text-align: center;
  font-size: 1.3rem;
  padding: 40px 20px;
}

.know-more span {
  display: inline-block;
  padding: 15px 30px;
  background-color: #deb887;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  border: none;
  font-family: inherit;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

.know-more span:hover {
  background-color: #cd853f;
  cursor: pointer;
}

/* Responsive adjustments */

/* Mobile screens */
@media (max-width: 320px) {
  .description {
    font-size: 1.1rem;
    padding: 30px 15px;
  }
  .know-more span {
    font-size: 0.9rem;
    padding: 12px 20px;
  }
}

/* Tablet screens */
@media (max-width: 768px) {
  .description {
    font-size: 1.1rem;
    padding: 30px 15px;
  }

  .know-more span {
    font-size: 0.9rem;
    padding: 12px 20px;
  }
}
